@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');
:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
.container{
width: 80%;
height: 100%;
margin: auto;

}
.cards{

    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
    margin: auto;

}
.cards img{
    width: 100%;
    height: 80%;
    border-radius: 10px;

    overflow: hidden;
}
.cards img:hover{
    scale: 1.1;
    border-radius: 10px;
}
.main{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    
    gap: 2rem;
    padding: 3rem 0rem;
    max-width: 1280px;
    animation: lefttoright 1s ease forwards;
    opacity: 0;
    margin: auto;
}
@keyframes lefttoright {
 
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }



    
}
.header{
    display: flex;
    flex-direction: column;
    max-width: 1280px;

}
.head_image{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 20px 0px;
}
a{
    text-decoration: none;
    color: grey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.head_image img{
    width: 20rem;
    height: 6.5rem;
}
.header_para{
    text-align: center;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 0.8rem;
}
.links:hover{
    color: black;
}

.button{
    display: none;
}
@media screen and (max-width:1000px) {
    .main{
    grid-template-columns: repeat(1,1fr);
    }
    .head_image{
        display: flex;
        flex-direction: column-reverse;
    }
    .button{
        display: block;
        border: none;
        background-color: #fffaf0;
        margin-bottom: 2rem;
        text-align: center;
    }
    .nav{
        display: none;
    }
}
.body{
    background-color: #fffaf0;
}
.about{
    display: flex;
  gap: 1rem;

}
.logo img{
    width: 2rem;
    height: 2rem;
}
.footer{
    display: flex;
    justify-content: space-between;
    margin-right: 2rem;
    margin-left: 50%;
}
.github img{
    width: 2rem;
    height: 2rem;
}
.github span{
    color: var(--dark-gray);
    font-size: 0.8rem;
    
}
.github{
    display: flex;
    align-items: start;
}
